<a href="https://colab.research.google.com/github/mcewenar/Google_colab/blob/master/allThePyramidsDiamondsAndArrows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. whole pyramid:
print("\nNormal pyramid\n")
for i in range(5):
  x='* '
  x=x*i
  print(f'{x: ^10}')

Normal pyramid


    *
   * *
  * * *
 * * * *

In [16]:
#Inverted diamond
column = 5
for i in range(column+1,1,-1):
  print(" "*((column+2)-i), end="")
  for m in range(i,1,-1):
    print('*',end=" ")
  print("\r")
for j in range(1,column+1):
  print(" "*((column+1)-j),end="")
  for n in range(1,j+i):
    print('*',end=" ")
  print("\r")

 * * * * *
  * * * *
   * * *
    * *
     *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [18]:
#Diamond pattern:
column = 5
for i in range(1,column+1):
  print(" "*((column+1)-i),end="")
  for j in range(1,i+1):
    print('*',end=" ")
  print("\r")

for m in range(column,1,-1):
  print(" "*((column+2)-m),end="")
  for n in range(m,1,-1):
    print('*',end=" ")
  print("\r")

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [20]:
#Arrow pattern
column = 5
for i in range(1,column+1):
  print('* '*i)

for j in range(column-1,0,-1):
  print('* '*j)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#Invert pyramid:
print("\nInvert pyramid\n")
for i in range(5):
  x='* '
  x=x*(5-i)
  print(f'{x: ^10}')

Invert pyramid

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
#Left sided pyramid
print("\nLeft sided pyramid\n")
for i in range(5):
  x='* '
  x=x*i
  print(f'{x: <10}')

Left sided pyramid


*
* *
* * *
* * * *

In [ ]:
#Right sided pyramid
print("\nRight pyramid\n")
for i in range(5):
  x='* '
  x=x*i
  print(f'{x: >10}')

Right pyramid


        *
      * *
    * * *
  * * * *