<a href="https://colab.research.google.com/github/mcewenar/Google_colab/blob/master/create_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from rich.table import Table
from rich.console import Console

console = Console()
table = Table(title="User Data")

table.add_column("ID", justify="right", style="cyan", no_wrap=True)
table.add_column("Name", style="magenta")
table.add_column("Age", justify="right", style="green")


table.add_row("1", "John Doe", "25")
table.add_row("2", "Jane Smith", "30")
table.add_row("3", "Mike Tower", "35")

console.print(table)

        User Data
┏━━━━┳━━━━━━━━━━━━┳━━━━━┓
┃ ID ┃ Name       ┃ Age ┃
┡━━━━╇━━━━━━━━━━━━╇━━━━━┩
│  1 │ John Doe   │  25 │
│  2 │ Jane Smith │  30 │
│  3 │ Mike Tower │  35 │
└────┴────────────┴─────┘