<a href="https://colab.research.google.com/github/mcewenar/Google_colab/blob/master/Essential_use_cases_of_Python_zip_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Merge two lists
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]

combined = list(zip(names, ages))
print(combined)

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

In [5]:
#Uzipping lists: splitting paired data into separate lists:

combined = [('Alice', 25), ('Bob', 30), ('Charlie', 35)]

names, ages = zip(*combined)

print(names)
print(ages)

('Alice', 'Bob', 'Charlie')
(25, 30, 35)

In [7]:
#Iterating over multiple lists simultaneosly: useful when you need to iterate through multiple lists at he same time:
subjects = ['Math', 'Science', 'English']
scores = [88, 92, 85]

for subject, score in zip(subjects, scores):
    print(f"{subject}: {score}")

Math: 88
Science: 92
English: 85

In [9]:
#Creating dictionaries: from two lists. One for keys and one for values.
keys = ['name', 'age', 'city']
values = ['Alice', 25, "New York"]

dictionary = dict(zip(keys, values))

print(dictionary)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [11]:
#Combining multiple lists: zipping more than two lists together.
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = [True, False, True]

combined = list(zip(list1, list2, list3))
print(combined)

[(1, 'a', True), (2, 'b', False), (3, 'c', True)]

In [13]:
#Handling different length iterables: when lists have different lengths, zip() stops at the shortest one.
list1 = [1, 2, 3]
list2 = ['a', 'b']

combined = list(zip(list1, list2))
print(combined)

[(1, 'a'), (2, 'b')]

In [14]:
#Working with ranges zipping together ranges or sequences:
numbers = range(1, 4)
letters = ['a', 'b', 'c']

result = list(zip(numbers, letters))
print(result)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [16]:
#Comparing elements of two lists. Zipping two lists to compare elements.
list1 = [1, 2, 3]
list2 = [1, 4, 3]

comparison = [a == b for a, b in zip(list1, list2)]
print(comparison)

[True, False, True]

In [17]:
#Transpose a matrix. Use zip() to transpose rows and columns of a 2D matrix
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed = list(zip(*matrix))
print(transposed)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [18]:
#ZIPPING WITH ENUMERATE. Zipping with an enumerated list for indexed pairings
data = ['apple', 'banana', 'cherry']
indexed_data = list(zip(range(1, len(data) + 1), data))
print(indexed_data)

[(1, 'apple'), (2, 'banana'), (3, 'cherry')]