<a href="https://colab.research.google.com/github/mcewenar/Google_colab/blob/master/exercises_oct_15_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Skipping even numbers on an range:

for i in range(1,20):
  if i % 2 == 0:
    continue
  print(i)

#Stopping at a specific number:
for i in range(1,20):
  if i == 5:
    break
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#Stopping and skipping a specific number.

for i in range(1,20):
  if i == 3:
    continue
  if i == 7:
    break
  print(i)

1
2
4
5
6

In [3]:
#Flatten a nested list without using flatmap methods in-built
from collections.abc import Iterable

def flatten(nested_list):
  for item in nested_list:
    #Verify if an object is iterable (like a list, tuple, etc.), allow us know if an element would be flatted
    if isinstance(item, Iterable) and not isinstance(item, str):
      #Recursivity yield. Yield from is the way to delegate a other generate function
      yield from flatten(item)
    else:
      yield item

nested_list = [1, [2, 3], [4, [5, [6,7]]], 8]
flattened_list = list(flatten(nested_list))
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
"""
JAVA:
public class RotateList {

    public static <T> List<T> rotate(List<T> lst, int n) {
        // Crear una copia para no modificar la lista original
        List<T> rotatedList = new ArrayList<>(lst);

        // Asegurarse de que 'n' esté dentro del rango adecuado
        int rotation = n % lst.size();

        // Si la rotación es negativa o mayor al tamaño, ajustarla
        if (rotation < 0) {
            rotation += lst.size();
        }

        // Rotar la lista
        Collections.rotate(rotatedList, rotation);
        return rotatedList;
    }

    public static void main(String[] args) {
        List<Integer> lst = new ArrayList<>();
        Collections.addAll(lst, 1, 2, 3, 4, 5, 6);

        int n = 2; // Número de posiciones por rotar

        List<Integer> rotated = rotate(lst, n);
        System.out.println(rotated); // Imprime: [5, 6, 1, 2, 3, 4]
    }
}
"""
#Rotate the elements of a list by n positions:
def rotate(lst, n):
  return lst[-n:] + lst[:-n]

lst = [1, 2, 3, 4, 5, 6]
n = 2
rotated = rotate(lst, n)
print(rotated)

[5, 6, 1, 2, 3, 4]

In [5]:
#Find duplicate elements in a list. identify duplicate elements in a list.

from collections import Counter

lst = [1,2,2,3,4,4,4,5]
duplicates = [item for item, count in Counter(lst).items() if count > 1]
print(duplicates)

[2, 4]

In [7]:
#List of indices for specific value
#Get all indices of a specific value in a list.
lst = [10,20,10,30,10,40,20]
expected = 20

indices = [i for i, x in enumerate(lst) if x == expected]
print(indices)

[1, 6]

In [10]:
#Transpose a list of lists (Matrix)
matrix = [[1,2,3],[4,5,6],[7,8,9]]
#Way1
transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed)
#Way 2:
transposed = list(map(list, zip(*matrix)))
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [11]:
#Chunk a list: Split a list into evenly sized chunks:

def chunk(lst, n):
  for i in range(0,len(lst),n):
    yield lst[i:i+n]

lst = [1,2,3,4,5,6,7,8,9]
sized = 3
chunks = list(chunk(lst,sized))
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
"""
IN JAVA:
public class RemoveConsecutiveDuplicates {

    public static <T> List<T> removeConsecutiveDuplicates(List<T> lst) {
        List<T> result = new ArrayList<>();

        if (lst.isEmpty()) {
            return result;  // Si la lista está vacía, devolver la lista vacía.
        }

        // Añadir el primer elemento al resultado.
        result.add(lst.get(0));

        // Iterar por la lista desde el segundo elemento
        for (int i = 1; i < lst.size(); i++) {
            // Si el elemento actual es diferente al anterior, lo añadimos
            if (!lst.get(i).equals(lst.get(i - 1))) {
                result.add(lst.get(i));
            }
        }

        return result;
    }

    public static void main(String[] args) {
        List<Integer> lst = new ArrayList<>();
        Collections.addAll(lst, 1, 2, 2, 3, 3, 3, 4, 4, 5);

        List<Integer> result = removeConsecutiveDuplicates(lst);
        System.out.println(result);  // Imprime: [1, 2, 3, 4, 5]
    }
}
"""


#Remove consecutive duplicates: remove duplicates consecutive froma list, preserving order.

from itertools import groupby

lst = [1,2,2,3,3,3,4,4,5]
result = [key for key, _ in groupby(lst)]
print(result)

[1, 2, 3, 4, 5]

In [14]:
#First the negative number:

number_list = [10,20,-5,-20,10,30,-40]

for num in number_list:
  if num < 0:
    print(f"first negative number is {num}")
    break

first negative number is -5

In [15]:
#Summing non negative numbers:
numbers = [10,-5,6-7,-50,-6,5,7,34,5,6,-56]
total = 0

#Way 1:
for num in numbers:
  if num < 0:
    continue

  total += num

print(f"Total of non negative numbers is {total}")

total = 0
#Way 2:
for num in numbers:
  if num >= 0:
    total += num

print(f"Total of non negative numbers is {total}")

Total of non negative numbers is 67
Total of non negative numbers is 67