<a href="https://colab.research.google.com/github/mcewenar/Google_colab/blob/master/multiplication_table_using_recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def print_table(num, times=1):
  if times > 10:
    return
  print(f'{num} x {times} = {num * times}')
  return print_table(num, times + 1)

num = int(input('Enter a number: '))
print_table(num)

Enter a number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [2]:
num = int(input('Enter a number: '))

table = '\n'.join([f"{num} x {i} = {num * i}" for i in range(1,11)])

print(table)

Enter a number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [3]:
num = int(input('Enter a number: '))

for i in range(1,11):
  print(num, 'x', i, '=', num*i)

Enter a number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70