<a href="https://colab.research.google.com/github/mcewenar/Google_colab/blob/master/semana46_21_2021_(C1)Parte2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Una tupla es una coleccion o secuencia de elementos que puede contener datos
#heterogeneos: enteros, reales, cadenas, listas, diccionarios u otros, inclusive tuplas. 
#Una tupla se escribe como la secuencia de datos, entre parentesis, separados por una coma ( , ), 
#Como las cadenas de caracteres, las tuplas son inmutables, esto es, no se pueden modicar despues de definidas.
#Ejemplo usando parentesis
tup = (1, 2, 3, 4.5, 'hola', 'a')  #Contiene enteros, flotantes, caracteres y cadenas
#print(tup)
#Ejemplo declaracion de una tupla, sin parentesis, secuencia de datos separados por coma
a= 1, 2, 3    #Asignacion de tupla a una variable 
#print(a)
tuple1 = (0, 1, 2, 3)
tuple2 = ('A', 'B', 'C')
tuple3 = (tuple1, tuple2) #Tuplas que contienen tuplas internamente
print(tuple3)
#Accediendo a componentes de una tupla, uso de su posicion entre [pos]
print(tuple3[0])
print(tuple3[1])
print(tuple3[1][0]) #tupla 1, elemento 0

((0, 1, 2, 3), ('A', 'B', 'C'))
(0, 1, 2, 3)
('A', 'B', 'C')
A

In [7]:
#Se usan los operadores convencionales (<, <=, >, >=, ==, !=) para
#comparar tuplas usando el orden lexicograco, cuando es posible. En el
#orden lexicograco, se tratan de comparar (si el operador < esta denido),
#de izquierda a derecha uno a uno los elementos de la tupla, mientras sean
#iguales. En el caso en el que no este definido el orden (por ejemplo entre
#cadenas y numeros), la comparacion genera un error. En el caso que no
#sean iguales, si el elemento de la primera tupla es menor que el de la
#segunda, la primer tupla se considera la menor, si el elemento es mayor la
#primer tupla se considera la mayor. Si todos los elementos son iguales, se
#consideran iguales a las tuplas.

print(("Rojas", 123) < ("Rosas", 123))
print(("Rosas", 123) == ("rosas", 123))
print(("Rosas", 123) > ("Rosas", 23))
print(("Rojas", "123") > ("Rosas", 23)) #Si el primer elemento no fuera diferente, el programa falla porque lee de elemento a elemento (izq-der)
print(("Rosas", "123") > ("Rosas", 23)) #Genera error

True
False
True
False

TypeError: ignored

In [ ]:
#concatenar tuplas, operador +
tup1 = ('A', 'B', 'C', 'E')
tup2 = (1, 2, 3, 4, 5)
tup3 = tup1 + tup2
print(tup3)

('A', 'B', 'C', 'E', 1, 2, 3, 4, 5)

In [ ]:
#operador repetir *
tup2 = (1, 2, 3, 4, 5)
tup3 = tup2 * 3
print(tup3)
tup4 = ('Abc', 'Bcd')
tup5 = tup4 * 2
print(tup5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
('Abc', 'Bcd', 'Abc', 'Bcd')

In [ ]:
#comparando tuplas, orden lexicografico, operadores (<, <=, >, >=, ==, !=)
print(('Rojas', 123) < ('Rosas', 123))
print(('Rosas', 123) == ('rosas', 123))
print(('Rosas', 123) > ('Rosas', 23))
print(('Rosas', "123") > ('Rosas', '23'))

True
False
True
False

In [ ]:
#Operador is, sirve opara determinar si dos tuplas referencian al mismo objeto en mem ram
a = ('Rojas', 123)
b = ("Rojas", 123)
c = ('Rojas',)
d = (123,)
e = c + d
#print(a == b) #True
#print(a is b) # False en colab, True en repl.it
#print(a == e)#True
#print(a is e)#False
print(id(a)) #id() retorna la dir en mem Ram donde se almacena el objeto
print(id(b))

140662510146736
140662510927376

In [ ]:
#Accede los elementos de la tupla, usando subindices entre [], una pos negativa se considera recorrido desde el final
avengers = ("Ironman", "Thor", "Ant-man", "Hulk")# las posiciones empiezan en [0]
print(avengers[0])
print(avengers[3])
print(avengers[-1]) #recorrido de der a izq
print(avengers[-3])

Ironman
Hulk
Hulk
Thor

In [ ]:
#Operador in / not in : Consulta si un elemento se encuentra en una tupla
text = ('cien', 'a~nos', 'de', 'soledad') #esto es una tupla
a='a~nos'
if a in text:
  print(a,'Si esta en la tupla')
else:
  print(a, 'No esta en la tupla')
#---------------------
b='solo'
if b not in text:
  print(b,'NO esta en la tupla')
else:
  print(b,'SI esta en la tupla')

a~nos Si esta en la tupla
solo NO esta en la tupla

In [ ]:
#Iterando una tupla usando el ciclo for, iterar significa recorrer, visitar los componentes de una coleccion
s = ("hola", "amigos", "mios")
for palabra in s: # para cada palabra de la coleccion s, que es una tupla
  print(palabra, end = ', ')

hola, amigos, mios,

In [ ]:
#asignado multiples variables
tupla = 1, -2, 5, 3
print(len(tupla))

a, b, c, d = tupla #Note, una variable por cada elemento de la tupla
print('a =', a, end='; ')
print('b =', b,end='; ')
print('c =', c,end='; ')
print('d =', d,end='; ')

4
a = 1; b = -2; c = 5; d = 3;

In [ ]:
#Intercambiando variables, aprovechando la  asignacion multiple
a = 1   # tem=a; a=b; b=tem
b = 3

a, b = b, a #concepto de tupla
print('Intercambiando variables')
print('a =', a)
print('b =', b)

Intercambiando variables
a = 3
b = 1

In [ ]:
#Asignando multiples variables desde una tupla, usando el ciclo for, dos opciones
tupla = (11, 9, -2, 3, 8, 5) #tiene 6 componentes
a, b, c, d = [tupla[i] for i in (1, 2, 4, 3)] 
#1) for i in () genera una coleccion utilizando los elementos enumerados entre parentesis (literalmente)
#print("var1 =", a, ", var2 =", b, ", var3 =", c,'var4: ',d)

#2) for in in range(), genera una coleccion, aqui sus elementos empiezan en pos:0, termina en pos:5, inc: 2
a, b, c = [tupla[i] for i in range(0, 5+1 , 2)] #11, -2, 8
print("var1 =", a, ", var2 =", b, ", var3 =", c)

var1 = 11 , var2 = -2 , var3 = 8

In [ ]:
#funciones y tuplas: Retornar mas de un valor en una funcion usando el concepto de tupla.
def minmax(a, b):
  if a < b:
    return a, b #Retorno 2 valores
  else:
    return b, a #Retorno 2 valores 

x, y = minmax(5, 13)
print('min =', x, ",", 'max =', y)
x, y = minmax(12, -4)
print('min =', x, ",", 'max =', y)

min = 5 , max = 13
min = -4 , max = 12

In [ ]:
#funcion len()
tup = (1, 2, 3, 4)
nombre = ("Minch", "Yoda")
trabajo = ("Stars", "War", "Movie")
empty = ()
print(len(tup))
print(len(nombre))
print(len(trabajo))
print(len(empty))

4
2
3
1

In [ ]:
#funcion slice [ini,fin,inc], retorna una sub-tupla 
avengers = ("Ironman", "Thor", "Ant-man", "Hulk")
print(avengers[:2]) #incluye elementos 0 y 1 solamente, excluye el elemento 2
print(avengers[1:2])#incluye el elemento 1 solamente
print(avengers[3:3]) #vacio, ya que no incluye el elemento 3
print(avengers[::-1]) #presenta en orden descendente, de dere a izq

('Ironman', 'Thor')
('Thor',)
()
('Hulk', 'Ant-man', 'Thor', 'Ironman')

In [ ]:
#metodo obj.count(elemento)
tupla = (4, 3, 8, 8, 2, 5, 4, 6, 8, 9)
print(tupla.count(2),end='\t')
print(tupla.count(8),end='\t')
print(tupla.count(5),end='\t')
print(tupla.count(7))

1	3	1	0

In [ ]:
#Metodo obj.index(),retorna la posicion de la primera ocurrencia de un elemento en una tupla
tupla = (4, 3, 8, 8, 2, 5, 4, 6, 8, 9)
print(tupla.index(2),end='\t') #4
print(tupla.index(8),end='\t') # 2
print(tupla.index(5),end=' ') # 5

4	2	5

In [ ]:
#funciones min()   max()
t = (4, 5, -1, 6, 7)
print(max(t),end='\t')
t=('b', 'a', 'c')
print(min(t))

7	a

In [ ]:
#funcion tuple(), sirve para crear tuplas a partir de otros objetos o para convertir a tupla otros objs
magician = 'Dumbledore' #cadena
tm = tuple(magician)
print(tm)

('D', 'u', 'm', 'b', 'l', 'e', 'd', 'o', 'r', 'e')

In [ ]:
#Desempacar el contenido de una tupla
tup1 = (1, 2, 3, 6)
print('longitud: ', len(tup1)) 
#el nro de variables debe concordar con la len(tup1)
a, b, c, d = tup1 #extrae uno a uno los elementos de la tupla
print('a:', a, '\tb:', b, '\tc:', c,'\td:', d )

longitud:  4
a: 1 	b: 2 	c: 3 	d: 6

In [ ]:
#funcion map(): Ejecuta una funcion map() para c/u de los valores de una tupla,
#int() convierte a int los valores leidos, 
#tuple() crea una tupla con tales valores
delimitador =' '
t = tuple(map(int, input('digite numeros separados por espacio:').split(delimitador))) 
print(t)
print('suma primeros 2 elementos: ', t[0] + t[1])

digite numeros separados por espacio:12 23 5 66
(12, 23, 5, 66)
suma primeros 2 elementos:  35